#A1
2. **Make a public repo** on your GitHub called 'COGS108_Repo'
-Make sure this repository is public
-Make sure you name the repo exactly as you see it above
-Within ==COGS108_Repo==, create two files: 'README.md' and '.gitignore'.
  -Add these to 'COGS108_Repo'.
  -Reminder: the shell command ==touch== creates an empty file.
  -These can contain anything you want (or be empty).
  -Stage, commit, and push these changes to your GitHub.
